#custom section
/INSTALL
/config.h.in
/config.log
/config.status
/stamp-h1
/.deps
/Makefile
/config.h
goaccess
#merged from https://raw.github.com/github/gitignore/master/Autotools.gitignore
# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

#merged from https://raw.github.com/github/gitignore/master/C.gitignore
# Object files
*.o
*.ko
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# VIM
*.*.swp

# VIM
*.log
