#custom section
config.status
config.guess
config.sub
config.rpath
configure~
**/.deps/
/INSTALL
/Makefile
src/.dirstamp
src/config.h
src/config.h.in
src/config.h.in~
src/config.log
src/config.status
src/.deps/
src/stamp-h1
goaccess
bin2c
# font selection
selection.json
#merged from https://raw.github.com/github/gitignore/master/Autotools.gitignore
# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

# VIM
*.*.swp
*.log

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Vagrant
.vagrant

# M4 macros
/m4/*

# I18n stuff
/ABOUT-NLS
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/Makefile
/po/stamp-po

# compiled resources
/src/appcss.h
/src/appjs.h
/src/bootstrapcss.h
/src/chartsjs.h
/src/d3js.h
/src/facss.h
/src/hoganjs.h
/src/tpls.h

# intermediate resources
/resources/css/app.css.tmp
/resources/css/bootstrap.min.css.tmp
/resources/css/fa.min.css.tmp
/resources/js/app.js.tmp
/resources/js/charts.js.tmp
/resources/js/d3.v?.min.js.tmp
/resources/js/hogan.min.js.tmp
/resources/tpls.html.tmp

# CMake and IDE
.idea
*build*
*_export.h
