/* GLOBAL */
html,
body {
	background: #f0f0f0;
	overflow-x: hidden;
}
h1 {
	font-weight: bold;
	letter-spacing: -3px;
}
h3 {
	font-size: 21px;
	letter-spacing: -1px;
}
.page-header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	margin: 25px 0 20px;
	position: relative;
}
.page-header h1 {
	margin: 0;
}
.pagination {
	margin: 5px 0;
}
.clickable,
.expandable>td {
	cursor: pointer;
}
.spinner {
	color: #999;
	left: 50%;
	position: absolute;
	top: 50%;
}
.powered {
	bottom: 190px;
	color: #9E9E9E;
	font-size: smaller;
	position: absolute;
	right: 20px;
	transform-origin: 100% 0;
	transform: rotate(-90deg);
}
.powered a {
	color: #636363;
}
.powered span {
	color: #007bc3;
}
.dropdown-header {
	color: #007bc3;
	padding: 3px 25px;
	text-transform: uppercase;
}
.gheader {
	letter-spacing: -1px;
	text-transform: uppercase;
}
h5.gheader {
	letter-spacing: 0;
}
.panel-header h4.gheader {
	margin-top: 20px;
}
.panel-header .gheader small {
	font-size: 69%;
}

/* NAVIGATION */
nav {
	-webkit-transition: left .2s;
	background: #1C1C1C;
	border-right: 3px solid #5bc0de;
	height: 100%;
	left: -236px;
	overflow: hidden;
	position: fixed;
	top: 0;
	transition: left .2s;
	width: 300px;
	z-index: 2;
}
nav .nav-list {
    height: 100%;
	overflow-y: auto;
	width: 350px;
}
nav header {
	margin: 40px 20px 30px;
}
nav header a {
	color: rgba(240,240,240,.7);
	font-size: 2.7em;
	font-weight: 300;
	text-transform: uppercase;
}
nav header a:hover {
	color: #eee;
}
nav.active {
	display: block !important;
	left: 0;
	opacity: .97;
}
nav:hover ~ #content {
	opacity: .3;
}
nav.active .nav-bars,
nav.active .nav-gears,
nav.active .nav-ws-status {
	opacity: 0;
}
nav .nav-bars,
nav .nav-gears,
nav .nav-ws-status {
	-webkit-transition: opacity .2s;
	color: #9E9E9E;
	cursor: pointer;
	float: right;
	font-size: 36px;
	height: 32px;
	left: 13px;
	line-height: 32px;
	position: fixed;
	text-align: center;
	top: 30px;
	transition: opacity .2s;
	width: 32px;
}
nav .nav-gears {
	top: 100px;
	opacity: 0.6;
}
nav .nav-ws-status,
.nav-ws-status.mini {
	color: #6A6A6A;
	cursor: help;
	display: none;
	font-size: 12px;
}
nav .nav-ws-status {
	left: 25px;
	top: 125px;
}
.nav-ws-status.mini {
	top: 14px;
	left: 50px;
	position: absolute;
}
.nav-ws-status.connected {
	color: #5DB56A;
}
nav li a {
	border-left: 3px solid transparent;
	color: rgba(200,200,200,.5);
	display: block;
	font-size: smaller;
	max-width: 235px;
	opacity: 0;
	overflow: hidden;
	padding: 9px 20px;
	text-overflow: ellipsis;
	text-transform: uppercase;
	transition: opacity .2s;
	white-space: nowrap;
}
nav.active li a {
	max-width: 100%;
	opacity: 1;
}
nav li a:hover,
nav li.active a {
	background: rgba(0,0,0,.1);
	border-color: #5BC0DE;
	color: #eee;
}
nav ul {
	padding-left: 0;
	list-style: none;
}
/* Navigation  -- Icon */
nav a,
nav a:hover {
	text-decoration: none;
}
nav h3 {
	color: #FFF !important;
	font-size: medium;
	font-weight: bold;
	margin: 20px 25px 10px;
	text-transform: uppercase;
}

/* CONTAINER */
@media screen and (max-width: 767px) {
	.row-offcanvas {
		-webkit-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		position: relative;
		transition: all .25s ease-out;
	}

	.row-offcanvas-right {
		right: 0;
	}

	.row-offcanvas-left {
		left: 0;
	}

	.row-offcanvas-right
      .sidebar-offcanvas {
		right: -50%;
	}

	.row-offcanvas-left
      .sidebar-offcanvas {
		left: -50%;
	}

	.row-offcanvas-right.active {
		right: 50%;
	}

	.row-offcanvas-left.active {
		left: 50%;
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%;
	};
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	};
}
@media (max-width: 480px) {
	.wrap-general h5,
	.wrap-panel h5 {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	.wrap-general h5 {
		width: 100%
	}
	.wrap-panel h5 {
		width: 70%
	}
}
.container-fluid {
	margin-left: 75px;
}
@media (min-width: 1120px) {
	.container {
		width: 970px;
	};
}
@media (min-width: 1320px) {
	.container {
		width: 1170px;
	};
}
@media (max-width: 992px) {
	.container-fluid {
		margin-left: auto;
	};
}
@media (max-width: 768px) {
	.container-fluid {
		padding-left: 5px;
		padding-right: 5px;
	}
	.page-header {
		padding: 0 10px;
	}
}

/* PANEL STYLES */
.wrap-panel .panel-header {
	position: relative;
}
div.wrap-panel > div {
	background: #FFF;
	margin-top: 10px;
	padding: 0 10px;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
}

/* PANEL TABLES */
.wrap-panel table.table-borderless tbody tr td,
.wrap-panel table.table-borderless tbody tr th,
.wrap-panel table.table-borderless thead tr th {
	border: none;
}
.wrap-panel table thead tr th {
	text-align: right;
	border-bottom-width: 1px;
}
.wrap-panel table .string,
.wrap-panel table .date {
	text-align: left;
}
.wrap-panel table .percent {
	color: #898989;
}
.wrap-panel table td,
.wrap-panel table th {
	white-space: nowrap;
	overflow: hidden;
}
.wrap-panel table th.sortable {
	cursor: pointer;
}
/* thead meta */
.wrap-panel table tbody.tbody-meta {
	border-top: 1px solid #C7C7C7;
	border-bottom: 1px solid #C7C7C7;
}
.wrap-panel table tbody.tbody-meta tr {
	background-color: #F1F1F1;
	color: #222;
}
.wrap-panel table tbody.tbody-meta small {
	font-size: 65%;
}
/* thead data */
.wrap-panel table tbody.tbody-data tr td {
	border-right: 1px solid #F1F1F1;
	font-size: smaller;
}
.wrap-panel table tbody.tbody-data td:last-child {
	border-right: none;
}
.wrap-panel table tbody.tbody-data td.row-idx {
	color: #898989;
}
.wrap-panel table>tbody+tbody {
	border-top-width: 1px;
}
.wrap-panel table tbody.tbody-data tr.shaded {
	background-color: #F7F7F7;
}
.wrap-panel table tbody.tbody-data tr. {
	background-color: #F7F7F7;
}
.wrap-panel table tbody.tbody-data tr.child td:nth-child(1),
.wrap-panel table tbody.tbody-data tr.child td:nth-child(2) {
	border-right: none;
}
.wrap-panel table.table-hover>tbody>tr:hover {
	background-color: #EEE;
}

/* GENERAL */
.wrap-general {
	position: relative;
}
.report-title {
	background: #FFF;
	border-radius: 4px;
	bottom: -10px;
	color: #9E9E9E;
	font-size: small;
	padding: 0 10px;
	position: absolute;
	right: 0;
	z-index: 1;
}
.panel-plot-wrap {
	position: absolute;
	right: 0;
	top: 18px;
}
.col-title {
	font-size: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 1px 1px 0 #FFF;
	white-space: nowrap;
	width: 100%;
}
.grid-module {
	background: #FFF;
	color: rgb(36, 36, 36);
	font-weight: normal;
	margin-top: 5px;
	padding: 7px;
}
.grid-module h3 {
	font-size: 25px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.grid-module.black {
	border-top: 4px solid #0F1214;
}
.grid-module.gray {
	border-top: 4px solid #9E9E9E;
}
.grid-module.red {
	border-top: 4px solid #FF303E;
}
.grid-module.blue{
	border-top: 4px solid #00D4E1;
}
.grid-module.green {
	border-top: 4px solid #5DB56A;
}
@media (max-width: 767px) {
	.panel-plot-wrap {
		top: 10px;
	}
	.powered {
		bottom: 10px;
		left: 25px;
		transform: initial;
	}
}

/* CHARTS */
.chart-wrap {
	margin-bottom: 15px;
	position: relative;
}
svg {
	background-color: #fff;
	display: block;
}
.axis path {
	fill: transparent;
	stroke: black;
	shape-rendering: crispEdges;
	stroke-width: 1;
}
.grid.y .tick line,
.grid.x .tick line {
	shape-rendering: crispEdges;
	stroke: #999;
	stroke-dasharray: 3 3;
	stroke-width: 1;
}
.axis.x .tick line,
.axis.y0 .tick line,
.axis.y1 .tick line,
.grid.y .tick:first-child line {
	stroke: black;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
.bars rect.bar {
	shape-rendering: crispEdges;
}
.rects rect {
	fill: transparent;
}
.area {
	opacity: 0.2;
}
.points {
	stroke: transparent;
}
line.indicator {
	fill: transparent;
	pointer-events: none;
	shape-rendering: crispEdges;
	stroke: #999;
	stroke-width: 1;
}
.area0,
.bars.y0 .bar,
.points.y0,
rect.legend.y0 {
	fill: #447FB3;
}
.area1,
.bars.y1 .bar,
.points.y1,
rect.legend.y1 {
	fill: #FF6854;
}
.line0,
.line1 {
	fill: transparent;
	stroke-width: 1;
}
.line0 {
	stroke: #007BC3;
}
.line1 {
    stroke: #FF303E;
}
.axis text,
.axis-label,
text.legend {
	font: 10px sans-serif;
}
.axis-label.y0,
.axis-label.y1 {
	text-anchor: end;
}
rect.legend {
	height: 10px;
	width: 10px;
}
.legend {
	cursor: pointer;
}
.wrap-text text {
	text-anchor: start!important;
}

/* CHART TOOLTIP */
.chart-tooltip-wrap {
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 10px;
	z-index: 10;
}
.chart-tooltip {
	-moz-box-shadow: 7px 7px 12px -9px #777777;
	-webkit-box-shadow: 7px 7px 12px -9px #777777;
	background-color: #fff;
	border-collapse: collapse;
	border-spacing: 0;
	box-shadow: 7px 7px 12px -9px #777777;
	empty-cells: show;
	opacity: 0.9;
}
.chart-tooltip tr {
	border: 1px solid #CCC;
}
.chart-tooltip th {
	background-color: #aaa;
	color: #FFF;
	font-size: 14px;
	max-width: 380px;
	overflow: hidden;
	padding: 2px 5px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.chart-tooltip td {
	border-left: 1px dotted #999;
	font-size: 13px;
	padding: 3px 6px;
}
.chart-tooltip td > span {
	display: inline-block;
	height: 10px;
	margin-right: 6px;
	width: 10px;
}
.chart-tooltip td.value {
	text-align: right;
}
.chart-tooltip .blue {
	background-color: #007BC3;
}
.chart-tooltip .red {
	background-color: #FF303E;
}

/* DARK THEME */
.dark h1 {
	color: rgba(255, 255, 255, 0.6);
}
.dark h3,
.dark h4,
.dark h5 {
	color: rgba(255,255,255,0.4);
}
.dark .table-responsive {
	border: none;
}
.dark .wrap-panel > div > table {
	color: #D2D2D2;
}
.dark .wrap-panel table tbody.tbody-meta tr {
	background-color: transparent;
	color: #F7F7F7;
}
.dark .wrap-panel table tbody.tbody-data tr td {
	border-right: none;
}
.dark .wrap-panel table.table-hover>tbody.tbody-data>tr:hover {
	background-color: rgba(255, 255, 255, 0.08) !important;
}
.dark .col-title {
	color: #9e9e9e;
	text-shadow:none;
}
.dark .grid-module h3 {
	color: #FFF;
}
.dark .dropdown-menu>li>a {
	color: #FFF;
}
.dark div.wrap-panel > div {
	color: #EEE;
	margin-top: 10px;
	padding: 0 10px;
	border-top: 1px solid rgba(255, 255, 255, 0.15);
}

/* DARK BLUE THEME */
html.dark.blue,
.dark.blue body {
	background: #252B30;
}
.dark.blue .container {
	background: #252B30;
}
.dark.blue .page-header {
	border-bottom: 1px solid #3B444C;
}
.dark.blue .label-info {
	background-color: #252B30;
}
.dark.blue nav {
	border-right: 1px solid #181B1F;
	background: #1F2328;
}
.dark.blue div.wrap-panel > div {
	background: #1F2328;
}
.dark.blue .wrap-panel table tbody.tbody-meta {
	border-top: 1px solid #3B444C;
	border-bottom: 1px solid #3B444C;
}
.dark.blue .wrap-panel table tbody.tbody-data tr.shaded {
	background-color: #181B1F;
}
.dark.blue .gray {
	border-top: 4px solid #3B444C;
}
.dark.blue .grid-module {
	background: #1F2328;
}
.dark.blue .btn-default {
	color: #9E9E9E;
	background-color: #1F2328;
	border-color: #3B444C;
}
.dark.blue .btn-default:active,
.dark.blue .btn-default:hover,
.dark.blue .btn-default.active,
.dark.blue .open>.dropdown-toggle.btn-default {
	color: #3B444C;
	background-color: #1F2328;
	border-color: #0F1214;
}
.dark.blue .pagination>.disabled>a,
.dark.blue .pagination>.disabled>a:hover,
.dark.blue .pagination>.disabled>a:focus {
	color: #777;
}
.dark.blue .pagination>li>a {
	background-color: #1F2328;
	border: 1px solid #3B444C;
}
.dark.blue .pagination>li>a:hover,
.dark.blue .pagination>li>a:active,
.dark.blue .pagination>li>a:focus {
	color: #0370B0;
	background-color: #1F2328;
	border-color: #3B444C;
}
.dark.blue .dropdown-menu>li>a:hover,
.dark.blue .dropdown-menu>li>a:focus {
	color: #FFF;
	background-color: #3B444C;
}
.dark.blue .dropdown-menu {
	background-color: #252B30;
}
.dark.blue::-webkit-scrollbar-track,
.dark.blue .table-responsive::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #9E9E9E;
}
.dark.blue::-webkit-scrollbar,
.dark.blue .table-responsive::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #9E9E9E;
}
.dark.blue::-webkit-scrollbar-thumb,
.dark.blue .table-responsive::-webkit-scrollbar-thumb {
	background-color: #3B444C;
}
.dark.blue .chart-tooltip {
	background-color: #252B30;
}
.dark.blue .report-title {
	background: #1F2328;
}

/* DARK GREY THEME */
html.dark.gray,
.dark.gray body {
	background: #212121;
}
.dark.gray .container {
	background: #212121;
}
.dark.gray .page-header {
	border-bottom: 1px solid #303030;
}
.dark.gray .label-info {
	background-color: #303030;
}
.dark.gray nav {
	border-right: 1px solid #363737;
	background: #1C1C1C;
}
.dark.gray div.wrap-panel > div {
	background: #1C1C1C;
}
.dark.gray .wrap-panel table tbody.tbody-meta {
	border-top: 1px solid #363737;
	border-bottom: 1px solid #363737;
}
.dark.gray .wrap-panel table tbody.tbody-data tr.shaded {
	background-color: rgba(48, 48, 48, 0.48);
}
.dark.gray .gray {
	border-top: 4px solid #303030;
}
.dark.gray .grid-module {
	background: #1C1C1C;
}
.dark.gray .btn-default {
	color: #9E9E9E;
	background-color: #212121;
	border-color: #303030;
}
.dark.gray .btn-default:active,
.dark.gray .btn-default:hover,
.dark.gray .btn-default.active,
.dark.gray .open>.dropdown-toggle.btn-default {
	color: #363737;
	background-color: #1C1C1C;
	border-color: #0F1214;
}
.dark.gray .pagination>.disabled>a,
.dark.gray .pagination>.disabled>a:hover,
.dark.gray .pagination>.disabled>a:focus {
	color: #777;
}
.dark.gray .pagination>li>a {
	background-color: #212121;
	border: 1px solid #303030;
}
.dark.gray .pagination>li>a:hover,
.dark.gray .pagination>li>a:active,
.dark.gray .pagination>li>a:focus {
	color: #0370B0;
	background-color: #212121;
	border-color: #303030;
}
.dark.gray .dropdown-menu>li>a {
	color: #FFF;
}
.dark.gray .dropdown-menu>li>a:hover,
.dark.gray .dropdown-menu>li>a:focus {
	color: #FFF;
	background-color: #303030;
}
.dark.gray .dropdown-menu {
	background-color: #212121;
}
.dark.gray::-webkit-scrollbar-track,
.dark.gray .table-responsive::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #9E9E9E;
}
.dark.gray::-webkit-scrollbar,
.dark.gray .table-responsive::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #9E9E9E;
}
.dark.gray::-webkit-scrollbar-thumb,
.dark.gray .table-responsive::-webkit-scrollbar-thumb {
	background-color: #303030;
}
.dark.gray .chart-tooltip {
	background-color: #303030;
}
.dark.gray .report-title {
	background: #303030;
}

/* DARK CHARTS */
.dark svg {
	background-color: transparent;
}
.dark .area {
	opacity: 0.1;
}
.dark .line0,
.dark .line1 {
	stroke-width: 2;
}
.dark .area0,
.dark .bars.y0 .bar,
.dark rect.legend.y0 {
	fill: #007BC3;
}
.dark .area1,
.dark .bars.y1 .bar,
.dark .points.y1,
.dark rect.legend.y1 {
	fill: #FF303E;
}
.dark .points.y0 {
	fill: #00D4E1;
}
.dark .line0 {
	stroke: #007BC3;
}
.dark .line1 {
	stroke: #FF303E;
}
.dark .grid.y .tick line,
.dark .grid.x .tick line {
	stroke: #44474B;
	stroke-dasharray: 1 1;
}
.dark .axis text,
.dark .axis-label,
.dark text.legend {
	fill: #9E9E9E;
}
.dark .axis path {
	stroke: #999999;
}
.dark .axis.x .tick line,
.dark .axis.y0 .tick line,
.dark .axis.y1 .tick line,
.dark .grid.y .tick:first-child line {
	stroke: #3B444C;
}
.dark .chart-tooltip th {
	background-color: #1c1c1c;
}
.dark .chart-tooltip tr {
	border: 1px solid #363737;
}

/* DARK PURPLE THEME */
html.dark.purple,
.dark.purple body {
	background: #1e1e2f;
}
.dark.purple .container {
	background: #1e1e2f;
}
.dark.purple .page-header {
	border-bottom: 1px solid #2b3553;
}
.dark.purple .label-info {
	background-color: #181823;
}
.dark.purple nav {
	border-right: 1px solid #e14eca;
	background: #181823;
}
.dark.purple div.wrap-panel > div {
	background: #27293d;
	border-top: 1px solid #2b3553;
}
.dark.purple .wrap-panel table tbody.tbody-meta {
	border-top: 1px solid #2b3553;
	border-bottom: 1px solid #2b3553;
}
.dark.purple .wrap-panel table tbody.tbody-data tr.shaded {
	background-color: #1e1e2f;
}
.dark.purple .gray {
	border-top: 4px solid #2b3553;
}
.dark.purple .red {
	border-top: 4px solid #fd5d93;
}
.dark.purple .green {
	border-top: 4px solid #00f2c3;
}
.dark.purple .blue {
	border-top: 4px solid #1f8ef1;
}
.dark.purple h3, .dark.purple h4, .dark.purple h5 {
    color: #9a9a9a;
}
.dark.purple .grid-module {
	background: #27293d;
}
.dark.purple .grid-module h3 {
	color: #FFF;
}
.dark.purple .btn-default {
	color: #9E9E9E;
	background-color: #1e1e2f;
	border-color: #2b3553;
}
.dark.purple .btn-default:active,
.dark.purple .btn-default:hover,
.dark.purple .btn-default.active,
.dark.purple .open>.dropdown-toggle.btn-default {
	color: #59595f;
	background-color: #1e1e2f;
	border-color: #2b3553;
}
.dark.purple .pagination>.disabled>a,
.dark.purple .pagination>.disabled>a:hover,
.dark.purple .pagination>.disabled>a:focus {
	color: #777;
}
.dark.purple .pagination>li>a {
	background-color: #1e1e2f;
	border: 1px solid #3B444C;
}
.dark.purple .pagination>li>a:hover,
.dark.purple .pagination>li>a:active,
.dark.purple .pagination>li>a:focus {
	color: #0370B0;
	background-color: #181823;
}
.dark.purple .dropdown-menu>li>a:hover,
.dark.purple .dropdown-menu>li>a:focus {
	color: #FFF;
	background-color: #181823;
}
.dark.purple .dropdown-menu {
	background-color: #1e1e2f;
}
.dark.purple::-webkit-scrollbar-track,
.dark.purple .table-responsive::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #9E9E9E;
}
.dark.purple::-webkit-scrollbar,
.dark.purple .table-responsive::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #9E9E9E;
}
.dark.purple::-webkit-scrollbar-thumb,
.dark.purple .table-responsive::-webkit-scrollbar-thumb {
	background-color: #1e1e2f;
}
.dark.purple .chart-tooltip {
	background-color: #181823;
}
.dark.purple .report-title {
	background: #181823;
}
.dark.purple .area0,
.dark.purple .bars.y0 .bar,
.dark.purple rect.legend.y0 {
	fill: #007BC3;
}
.dark.purple .area1,
.dark.purple .bars.y1 .bar,
.dark.purple .points.y1,
.dark.purple rect.legend.y1 {
	fill: #d048b6;
}
.dark.purple .points.y0 {
	fill: #00D4E1;
}
.dark.purple .line0 {
	stroke: #007BC3;
}
.dark.purple .line1 {
	stroke: #d048b6;
}
