/* GLOBAL */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    background: #f0f0f0;
}
body {

}
h1 {
    font-weight: bold;
    letter-spacing: -3px;
}
h3 {
    letter-spacing: -1px
}
.container {
    background: #FFF
}
.row-offcanvas {
	margin-bottom: 20px;
}
.page-header {
	margin: 25px 0 20px;
}
.page-header h1 {
	margin: 0;
}
.pagination {
	margin: 5px 0;
}

/* CHARTS */
.chart-wrap {
	position: relative;
}
svg {
	background-color: #fff;
	display: block;
}
.axis path {
	fill: transparent;
	stroke: black;
	shape-rendering: crispEdges;
	stroke-width: 1;
}
.grid.y .tick line,
.grid.x .tick line {
	shape-rendering: crispEdges;
	stroke: #999;
	stroke-dasharray: 3 3;
	stroke-width: 1;
}
.axis.x .tick line,
.axis.y0 .tick line,
.axis.y1 .tick line,
.grid.y .tick:first-child line {
	stroke: black;
	stroke-width: 1;
	shape-rendering: crispEdges;
}
.rects rect {
	fill: transparent;
}
.area {
	opacity: 0.2;
}
.area0 {
	fill: #447FB3;
}
.area1 {
	fill: #FF6854;
}
.line0 {
	fill: transparent;
	stroke: #447FB3;
	stroke-width: 1;
}
.line1 {
	fill: transparent;
	stroke: #FF6854;
	stroke-width: 1;
}
line.indicator {
	fill: transparent;
	pointer-events: none;
	shape-rendering: crispEdges;
	stroke: #999;
	stroke-width: 1;
}
.points {
	stroke: transparent;
}
.points.y0,
.bars.y0 .bar {
	fill: #447FB3;
}
.points.y1,
.bars.y1 .bar {
	fill: #FF6854;
}
.axis text,
.axis-label,
text.legend {
  font: 10px sans-serif;
}
.axis-label.y0,
.axis-label.y1 {
	text-anchor: end;
}
rect.legend {
	height: 10px;
	width: 10px;
}
rect.legend.y0 {
	fill: #447FB3;
}
rect.legend.y1 {
	fill: #FF6854;
}

/* CHART TOOLTIP */
.chart-tooltip-wrap {
	display: none;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 10px;
	z-index: 10;
}

.chart-tooltip {
	-moz-box-shadow: 7px 7px 12px -9px #777777;
	-webkit-box-shadow: 7px 7px 12px -9px #777777;
	background-color: #fff;
	border-collapse: collapse;
	border-spacing: 0;
	box-shadow: 7px 7px 12px -9px #777777;
	empty-cells: show;
	opacity: 0.9;
}

.chart-tooltip tr {
	border: 1px solid #CCC;
}

.chart-tooltip th {
	background-color: #aaa;
	color: #FFF;
	font-size: 14px;
	padding: 2px 5px;
	text-align: left;
}

.chart-tooltip td {
	background-color: #fff;
	border-left: 1px dotted #999;
	font-size: 13px;
	padding: 3px 6px;
}

.chart-tooltip td > span {
	display: inline-block;
	height: 10px;
	margin-right: 6px;
	width: 10px;
}

.chart-tooltip td.value {
	text-align: right;
}


/* NAVIGATION */
nav {
    border-right: 3px solid #5bc0de;
    -webkit-transition: left .7s;
    transition: left .7s;
    background: #1C1C1C;
    height: 100%;
    left: -236px;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 2;
}
nav header {
    margin: 40px 20px 30px
}
nav header a {
    font-size: 2.7em;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(240,240,240,.7);
}
nav header a:hover {
    color: #eee
}
nav:hover {
    left: 0
}
nav:hover ~ #content {
    opacity: .3
}
nav:hover .icon {
    opacity: 0
}
nav .icon {
    width: 32px;
    height: 32px;
    float: right;
    margin: 30px 16px 0 0;
    font-size: 36px;
    text-align: center;
    line-height: 32px;
    color: #9E9E9E;
    transition: opacity .7s;
    -webkit-transition: opacity .7s;
}
nav li a {
    border-left: 3px solid transparent;
    color: rgba(200,200,200,.5);
    display: block;
	font-size: smaller;
    padding: 9px 20px;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
nav li a:before {
    content: '';
    width: 0;
    height: 0;
    display: inline-block;
    margin: 3px 0 0 -20px;
    border: 8px solid transparent;
}
nav li a:hover {
    background: rgba(0,0,0,.1);
    border-color: #5cb85c;
    color: #eee;
}
nav li a:hover:before {
    border-left-color: #1b9
}
nav ul {
    padding-left: 0;
    list-style: none;
}
/* Navigation  -- Icon */
nav a,
nav a:hover {
    text-decoration: none
}

/* CONTAINER */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }
    .row-offcanvas-right {
        right: 0
    }
    .row-offcanvas-left {
        left: 0
    }
    .row-offcanvas-right
      .sidebar-offcanvas {
        right: -50%;
        /* 6 columns */
    }
    .row-offcanvas-left
      .sidebar-offcanvas {
        left: -50%;
        /* 6 columns */
    }
    .row-offcanvas-right.active {
        right: 50%;
        /* 6 columns */
    }
    .row-offcanvas-left.active {
        left: 50%;
        /* 6 columns */
    }
    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%;
        /* 6 columns */
    }
}

@media (min-width: 768px) {
    .container {
        width:750px
    }
}

@media (min-width: 1120px) {
    .container {
        width:970px
    }
}

@media (min-width: 1320px) {
    .container {
        width:1170px
    }
}

/* PANEL STYLES */
.wrap-panels {
	margin-top: 20px;
}
.wrap-panels table thead tr th {
	text-align: right;
	border-bottom-width: 1px
}
.wrap-panels table .string {
	text-align: left;
}
.wrap-panels .percent {
	color: #898989;
}
.wrap-panels table td, table th {
	white-space: nowrap;
	overflow: hidden;
}
.wrap-panels table .tbody-meta tr {
	background-color: #f8f8f8;
	text-shadow: 1px 1px 0 #FFF;
}
.wrap-panels table .tbody-meta small {
	font-size: 65%;
}
.wrap-panels table .tbody-data td {
	border-right: 1px solid #F1F1F1;
	font-size: smaller;
}
.wrap-panels table .tbody-data td:last-child {
	border-right: none;
}
.wrap-panels table .tbody-data td.row-idx {
	color: #898989;
}
.wrap-panels table>tbody+tbody {
	border-top-width: 1px
}

/* GENERAL */
.panel-plot-wrap {
    position: relative;
    top: 18px;
}
.col-title {
    font-size: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 1px 0 #FFF;
    white-space: nowrap;
    width: 100%;
}
.grid-module {
    background: #F1F1F1;
    color: rgb(36, 36, 36);
    font-weight: normal;
    margin-top: 5px;
    padding: 7px;
}
.grid-module h3 {
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.green {
    border-top: 4px solid #5cb85c
}
.red {
    border-top: 4px solid #d9534f
}
.blue {
    border-top: 4px solid #5bc0de
}
.gray {
    border-top: 4px solid #9E9E9E
}
.black {
    border-top: 4px solid #1C1C1C
}
